footer { font-size: 90%; }

/* Dark mode */
@media (prefers-color-scheme: dark) {
    body {
        background-color: #000000;
        color: white;
    }

    blockquote {
      background: #000000;
    }

    a {
      color: #F7040D;
    }

    header {
      background: #000000;
      border-bottom: 2px dotted #F7040D;

    }

    .article-meta, .menu a {
      background: #000000;
      color: white;
    }

    table {
      margin: auto;
      border-top: 1px solid #666;
      border-bottom: 1px solid #666;
    }
    table thead th { border-bottom: 1px solid #666; }
    th, td { padding: 5px; }
    tr:nth-child(even) { background: #666 }

}

